version: '3'
services:
  mongo:
    image: mongo:latest
    container_name: doctor-services-product-db
    ports:
      - "27017:27017"
    environment: 
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
      MONGO_INITDB_DATABASE: test_database
      MONGO_HOST: localhost
      MONGO_PORT: 27017
      MONGO_USER: root
      MONGO_PASS: root
      MONGO_DB: test_database
      MONGO_AUTH_DB: admin
